<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <title>Portfolio</title>
</head>
<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img src="images/profile.jpg" 
                             alt="profile" 
                             width="156px" 
                             height="142px">
                    </div>
                    <div class="left_1-2">
                        <%=user.name%>
                    </div>
                    <div class="left_1-3">
                        <%=user.profession%>
                    </div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icon/Icons-facebook.svg" class="icon1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icon/Icons-instagram.svg" class="icon1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icon/Icons-linkedin.svg" class="icon1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icon/Icons-twitter.svg" class="icon1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icon/Icons-Youtube.svg" class="icon1" alt="">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="/author/icon/Icons-dribbble.svg" class="icon1" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_2">
                    <div class="left2_in">
                        <div class="left2_par">
                            <p style="
                                width: 46.209px;
                                height: 24px; 
                                padding: 1px 5px 1px 5px ;">Age:</p></div>
                            <div class="left2_arg"><%=user.age%></div>
                    </div>
                    <div class="left2_in">  
                        <div class="left2_par"><p style="
                            width: 89px;
                            height: 24px; 
                            padding: 1px 5px 1px 5px ;
                            ">Resicence:</p></div>
                        <div class="left2_arg"><%=user.residence%></div>
                    </div>
                    <div class="left2_in">  
                        <div class="left2_par"><p style="
                            width: 85px;
                            height: 24px; 
                            padding: 1px 5px 1px 5px ;
                            ">Freelance</p></div>
                        <div class="left2_arg">Available</div>
                    </div>
                    <div class="left2_in">
                        <div class="left2_par"><p style="
                            width:75px;
                            height: 24px; 
                            padding: 1px 5px 1px 5px ;
                            ">Address</p></div>
                        <div class="left2_arg"><%=user.address%></div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="left3_in">
                        <div class="wordbold">
                            Languages
                        </div>
                        <div class="language">
                            <div class="wordlight">Bangla</div>
                            <div class="numbers">100%</div>
                        </div>
                        <div class="yellowline">
                            <div class="line" style="width: 100%;"></div>
                        </div>
                        <div class="language">
                            <div class="wordlight">English</div>
                            <div class="numbers">80%</div>
                        </div>
                        <div class="yellowline">
                            <div class="line" style="width: 80%;"></div>
                        </div>
                        <div class="language">
                            <div class="wordlight">Spanish</div>
                            <div class="numbers">60%</div>
                        </div> 
                        <div class="yellowline">
                            <div class="line" style="width: 60%;"></div>
                        </div>
                    </div> 
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="left3_in">
                        <div class="wordbold">
                            Skills
                        </div>
                        <div class="language">
                            <div class="wordlight">HTML</div>
                            <div class="numbers">90%</div>
                        </div>
                        <div class="yellowline">
                            <div class="line" style="width: 90%;"></div>
                        </div>
                        <div class="language">
                            <div class="wordlight">CSS</div>
                            <div class="numbers">85%</div>
                        </div>
                        <div class="yellowline">
                            <div class="line" style="width: 85%;"></div>
                        </div>
                        <div class="language">
                            <div class="wordlight">Js</div>
                            <div class="numbers">80%</div>
                        </div> 
                        <div class="yellowline">
                            <div class="line" style="width: 80%;"></div>
                        </div>
                        <div class="language">
                            <div class="wordlight">PHP</div>
                            <div class="numbers">75%</div>
                        </div>
                        <div class="yellowline">
                            <div class="line" style="width: 75%;"></div>
                        </div>
                         <div class="language">
                            <div class="wordlight">WordPress</div>
                            <div class="numbers">85%</div>
                        </div>
                         <div class="yellowline">
                            <div class="line" style="width: 85%;"></div>
                        </div>
                    </div> 
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div style="gap: 5px;">
                        <div class="wordbold" style="margin: 5px 0px 15px 0px;">Extra Skills</div>
                        <div class="extra">
                            <div class="icon_5"><img src="/author/icon/icons.svg" alt=""></div>
                            <div class="wordlight" style="justify-content: start;">Bootstrap, Materialize</div>
                        </div>
                        <div class="extra">
                            <div> <img src="/author/icon/icons.svg" alt=""></div>
                            <div class="wordlight" style="justify-content: start;"> Stylus, Sass, Less</div>
                        </div>
                        <div class="extra">
                            <div> <img src="/author/icon/icons.svg" alt=""></div>
                            <div class="wordlight"> Gulp, Webpack, Grunt</div>
                        </div>
                        <div class="extra">
                            <div> <img src="/author/icon/icons.svg" alt=""></div>
                            <div class="wordlight"> Git Knowledge</div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
            </div>
            <div class="midd_frame" style="gap: 155px;">
                <div class="mainwrapper">
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div class="shakl" 
                        style="width: 16px; height: 16px;margin: 37px 0px 0px 37px;">
                        <img src="/author/images/sariq1.png" alt="">
                    </div>
                    <div class="shakl"
                        style="width: 16px; height: 16px;margin: 59px 0px 0px 516px;">
                        <img src="/author/images/yashil1.svg" alt=""></div>
                    <div class="shakl"
                        style="width: 16px; height: 16px;margin: 76px 0px 0px 892px;">
                        <img src="/author/images/kvadrats.png" alt=""></div>
                    <div class="shakl"
                        style="width: 16px; height: 16px;margin: 419px 0px 19px 84px;">
                        <img src="/author/images/yashil2.svg" alt=""></div>
                    <div class="shakl"
                        style="width: 16px; height: 16px;margin: 330px 0px 102px 370px;">
                        <img src="/author/images/kvadratk.svg" alt=""></div>
                    <div class="shakl"
                        style="width: 16px; height: 16px;margin: 378px 0px 60px 554px;">
                        <img src="/author/images/sariq2.svg" alt=""></div>
                    <div class="shakl"
                        style="width: 16px; height: 16px;margin: 407px 0px 14px 917px;">
                        <img src="/author/images/uchburchak.svg" alt=""></div>
                    <div class="maintext">
                        <div class="text1">Doctor neurologists in OHSU Hospital </div>
                        <div class="text2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, volutpat feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
                        <button class="button">Hire Me <img src="author/icon/frame.png" alt=""></button>
                    </div>
                    <div class="profile">
                        <img src="/author/images/img1.png" 
                        alt="" 
                        style=
                        "display: flex;
                        margin-top: 15px;
                        width: 326.055px;
                        height: 446.633px;"></div>
                </div>
                <div>
                    <div class="midtext">
                        <div class="service">My services</div>
                        <div class="service_des">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
                    </div>
                    <div class="servislar" style="margin-top: 60px;">
                        <div class="service_de">
                            <div class="iconlar"><img src="/author/icon/coding@2x.png" style="width: 68px; height: 68px;" alt=""></div>
                            <div class="wordbold">Web Development</div>
                            <div class="wordlight">Blog, E-commerse</div>
                        </div>
                        <div class="service_de">
                            <div class="iconlar"><img src="/author/icon/illustration.png" alt=""></div>
                            <div class="wordbold">UI/UX design</div>
                            <div class="wordlight">Mobile App, Website Design</div>
                        </div>
                        <div class="service_de">
                            <div class="iconlar"><img src="/author/icon/Microphone.png" alt=""></div>
                            <div class="wordbold">Sound Design</div>
                            <div>Voice Over, Bit Making</div>
                        </div>
                        <div class="service_de">
                            <div class="iconlar"><img src="/author/icon/game-development.png" alt=""></div>
                            <div class="wordbold">Game Design</div>
                            <div class="wordlight">Character Design, Props, Objects</div>
                        </div>
                        <div class="service_de">
                            <div class="iconlar"><img src="/author/icon/Photographer.png" alt=""></div>
                            <div class="wordbold">Photography</div>
                            <div class="wordlight">Portrait, Product Photography</div>
                        </div>
                        <div class="service_de">
                            <div class="wordbold">Advertising</div>
                            <div class="wordlight">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
                            <button class="order_button">Order Now <img src="/author/icon/Fr.png" alt=""></button>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="right_frame">
                <div class="top">
                    <img src="/author/icon/Contrast.png" 
                        style="width: 30px; height: 30px; flex-shrink: 0;" 
                        alt="">
                </div>
                <div class="middle">
                    <div class="imgwrapper">
                        <img src="/author/icon/Home.png" 
                        
                        alt="">
                    </div>
                    <div class="imgwrapper">
                        <img src="/author/icon/file-code.png" 
                        alt="">
                    </div>
                    <div class="imgwrapper">
                       
                        <img src="/author/icon/cv.png" 
                          
                        alt="">
                    </div>
                    <div class="imgwrapper">
                        
                        <img src="/author/icon/Vector.png" 
                        
                        alt="">
                    </div>
                    <div class="imgwrapper">
                       
                        <img src="/author/icon/Blog.png" 
                       
                        alt="">
                    </div>
                    <div class="imgwrapper">
                       
                        <img src="/author/icon/Contact.png" 
                      
                        alt="">
                    </div>
                </div>
                <div class="down"></div>
            </div>
        </div>
    </div>
</body>
</html>